.adBox {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgBox {
  height: 300px;
  width: 100%;
}

.adImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}